@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.label {
    position: absolute;
    top: 10px;
    transform: translateX(-8%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: bisque;
    width: 45%;
    padding: 1.2rem;
    border-radius: 0.5rem 2rem 2rem 0.5rem;
    animation: pulse 2s ease-in-out infinite;
}

sub {
    font-weight: 300;
}

.container {
    position: relative;
    width: 35.5%;
    margin: 8rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: .5s ease-in-out;
}

.container:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
  }

.description {
    padding: 1.2rem;
}

.description p {
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
}

@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
}

@media (max-width: 1400px) {
    .watch-image {
        width: 491px;
        height: 400px;
    }
}

.h2 {
    transition: .3s ease-in-out;
}

.h2 a{
    text-decoration: none;
    color: #333;
}

.h2:hover {
    text-decoration: line-through;
    opacity: .5;
    transform: translateX(-10px);
}

.back {
    transition: .3s ease-in-out;
}

.back a {
    text-decoration: none;
    color: #000;
}

.back a:hover {
    text-decoration: line-through;
    opacity: .5;
    transform: translateX(-10px);
}

.mini-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 15rem;
    background: transparent;
    backdrop-filter: blur(20px);
    z-index: 1;
}

@media (max-width: 1366px) {
    .watch-image {
        width: 480px;
        height: 400px;
        border-radius: 0.5rem 0.5rem 0 0;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 41%;
    }
}

@media (max-width: 992px) {
    .container {
        width: 49.7%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 64.6%;
    }

    .mini-navbar {
        padding: 2rem 11rem;
    }
}

@media (max-width: 576px) {
    .label {
        font-size: 1rem;
    }

    .watch-image {
        width: 387px;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .container {
        width: 80%;
    }

    .mini-navbar {
        padding: 2rem 4rem;
    }
}